Source: skycharge
Section: admin
Priority: optional
Maintainer: Skycharge Support <support@skycharge.de>
Build-Depends: autotools-dev,
               debhelper,
               dh-autoreconf,
               dpkg-dev,
               bison,
               flex,
               zlib1g-dev,
               uuid-dev,
               libzmq3-dev,
               libczmq-dev,
               libserialport-dev,
               libgps-dev,
               libavahi-client-dev,
               libmicrohttpd-dev,
               libbson-dev [amd64],
               libmongoc-dev [amd64],
               libsystemd-dev,
Standards-Version: 3.9.5


Package: skysense-conf
Depends: skycharge-conf, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
  This is a transitional Skycharge package. It can safely be removed.


Package: skysense-cli
Depends: skycharge-cli, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
  This is a transitional Skycharge package. It can safely be removed.


Package: skysensed
Depends: skycharged, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
  This is a transitional Skycharge package. It can safely be removed.


Package: skycharge-conf
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         sed,
         uuid-runtime,
         gpw,
Replaces: skysense-conf (<< 2.0.0)
Breaks: skysense-conf (<< 2.0.0)
Description: Any common files for Skycharge, e.g. skycharge.conf.
  Contains any common files for Skycharge, mainly skycharge.conf
  which is shared between other Skycharge packages.

Package: skycharge-cli
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         skycharge-conf (>= ${binary:Version}),
         libuuid1,
         zlib1g,
         libzmq5,
         libczmq4,
         libserialport0,
         libgps22
Replaces: skysense-cli (<< 2.0.0)
Breaks: skysense-cli (<< 2.0.0)
Description: command line utility to control charging pad
 This package contains Skycharge command line utility

Package: skycharged
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         skycharge-conf (>= ${binary:Version}),
         libuuid1,
         libzmq5,
         libczmq4,
         libserialport0,
         libgps22,
         libavahi-client3,
         libsystemd0,
Replaces: skysensed (<< 2.0.0)
Breaks: skysensed (<< 2.0.0)
Description: server to control charging pad
 This package contains Skycharge server

Package: skybroker
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libzmq5,
         libczmq4,
         libuuid1,
         libbson-1.0-0,
         libmongoc-1.0-0,
Description: broker which accepts connections from pads and clients
 This package contains Skycharge broker, which acts as a router and
 accepts many pads and clients and orchestrates requests between them.

Package: skyhttpd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libuuid1,
         libzmq5,
         libczmq4,
         libserialport0,
         libgps22,
         libmicrohttpd12,
Description: Light and fast Skycharge httpd server for serving JSON
 requests. This package contains Skycharge httpd server, which can be
 run both on skycharge device and broker sides.

Package: skyuartd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         skycharged (>= ${binary:Version}),
         libuuid1,
         libzmq5,
         libczmq4,
         libserialport0,
         libgps22,
Description: Skycharge UART server for serving UART requests.
