Source: skysense
Section: admin
Priority: optional
Maintainer: Skysense <skysense@skysense.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               dh-systemd (>= 1.5),
               dh-autoreconf,
               dpkg-dev (>= 1.16.1),
			   bison,
			   flex,
			   zlib1g-dev,
			   uuid-dev,
			   libzmq3-dev,
			   libczmq-dev,
			   libserialport-dev,
			   libgps-dev,
			   libavahi-client-dev,
Standards-Version: 3.9.5

Package: skysense-conf
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         sed,
         uuid-runtime,
         gpw,
Description: Any common files for skysense, e.g. skysense.conf.
  Contains any common files for skysense, mainly skysense.conf
  which is shared between other skysense packages.

Package: skysense-cli
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
		 skysense-conf (>= ${binary:Version}),
		 libuuid1,
		 zlib1g,
		 libzmq5,
		 libczmq4,
		 libserialport0,
		 libgps22
Description: command line utility to control charging pad
 This package contains Skysense command line utility

Package: skysensed
Architecture: any
Conflicts: skybroker
Depends: ${misc:Depends},
         ${shlibs:Depends},
		 skysense-conf (>= ${binary:Version}),
		 libuuid1,
		 libzmq5,
		 libczmq4,
		 libserialport0,
		 libgps22,
		 libavahi-client3,
Description: server to control charging pad
 This package contains Skysense server

Package: skybroker
Architecture: any
Conflicts: skysensed
Depends: ${misc:Depends},
         ${shlibs:Depends},
		 libzmq5,
		 libczmq4,
Description: broker which accepts connections from pads and clients
 This package contains Skysense broker, which acts as a router and
 accepts many pads and clients and orchestrates requests between them.

Package: skysense-dbg
Architecture: any
Section: debug
Priority: extra
Depends: skysense-cli (= ${binary:Version}),
         skysensed (= ${binary:Version}),
		 ${misc:Depends}
Description: debugging symbols for Skysense utils and server
 This package contains debugging symbols for Skysense utils and server
