#!/usr/bin/make -f

%:
	dh $@ --parallel --with=systemd

override_dh_installudev:
	dh_installudev -pskycharged --name=skycharge
	dh_installudev -pskycharged --name=skybms
override_dh_installinit:
	dh_installinit -pskycharged --name=skycharged --noscripts
override_dh_systemd_enable:
	dh_systemd_enable -pskycharge-conf --name=skyuart-config skyuart-config.service
	dh_systemd_enable -pskycharged --name=skycharged skycharged.service
	dh_systemd_enable -pskycharged --name=skybmsd   skybmsd.service
	dh_systemd_enable -pskybroker --name=skybroker skybroker.service
	dh_systemd_enable -pskyhttpd  --name=skyhttpd  skyhttpd.service
	dh_systemd_enable -pskyuartd  --name=skyuartd  skyuartd.service
override_dh_systemd_start:
	dh_systemd_start -pskycharged --restart-after-upgrade skycharged.service
	dh_systemd_start -pskycharged --restart-after-upgrade --no-start skybmsd.service
	dh_systemd_start -pskybroker --restart-after-upgrade skybroker.service
	dh_systemd_start -pskyhttpd  --restart-after-upgrade skyhttpd.service
	dh_systemd_start -pskyuartd  --restart-after-upgrade skyuartd.service
	dh_systemd_start -pskycharge-conf --restart-after-upgrade skyuart-config.service
