#!/usr/bin/make -f

%:
	dh $@ --parallel --with=systemd

override_dh_installudev:
	dh_installudev -pskysensed --name=skysense
	dh_installudev -pskysensed --name=skybms
override_dh_installinit:
	dh_installinit -pskysensed --name=skysensed --noscripts
override_dh_systemd_enable:
	dh_systemd_enable -pskysensed --name=skysensed skysensed.service
	dh_systemd_enable -pskysensed --name=skybmsd   skybmsd.service
	dh_systemd_enable -pskybroker --name=skybroker skybroker.service
	dh_systemd_enable -pskyhttpd  --name=skyhttpd  skyhttpd.service
	dh_systemd_enable -pskyuartd  --name=skyuartd  skyuartd.service
override_dh_systemd_start:
	dh_systemd_start -pskysensed --restart-after-upgrade skysensed.service
	dh_systemd_start -pskysensed --restart-after-upgrade --no-start skybmsd.service
	dh_systemd_start -pskybroker --restart-after-upgrade skybroker.service
	dh_systemd_start -pskyhttpd  --restart-after-upgrade skyhttpd.service
	dh_systemd_start -pskyuartd  --restart-after-upgrade skyuartd.service

override_dh_strip:
	dh_strip --dbg-package=skysense-dbg
