[Unit]
Description=Skycharge broker
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
Restart=always
PIDFile=/var/run/skybroker.pid
ExecStart=/usr/bin/skybroker 0.0.0.0 --servers-port 6666 --clients-port 5555 --daemon --pidfile /var/run/skybroker.pid

[Install]
WantedBy=multi-user.target
