[Unit]
Description=Skycharge broker
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
Restart=always
EnvironmentFile=-/etc/default/skybroker
PIDFile=/var/run/skybroker.pid
ExecStart=/usr/bin/skybroker $ADDR --servers-port $INCOMING_SERVERS_PORT --clients-port $INCOMING_CLIENTS_PORT --database-uri $DB_URI --daemon --pidfile /var/run/skybroker.pid
[Install]
WantedBy=multi-user.target
