[Unit]
Description=Skycharge server
After=skyuart-config.service

[Service]
Type=forking
User=root
Restart=always
EnvironmentFile=-/etc/default/skycharged
PIDFile=/var/run/skycharged.pid
ExecStart=/usr/bin/skycharged $ADDR $PORT --conffile /etc/skycharge.conf --daemon --pidfile /var/run/skycharged.pid

[Install]
WantedBy=multi-user.target
