[Unit]
Description=Skycharge HTTP server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
Restart=always
EnvironmentFile=-/etc/default/skyhttpd
PIDFile=/var/run/skyhttpd.pid
ExecStart=/usr/bin/skyhttpd $HTTP_ADDR $HTTP_PORT $SKY_ADDR $SKY_PORT --max-requests-rate $MAX_REQUESTS_RATE --daemon --pidfile /var/run/skyhttpd.pid

[Install]
WantedBy=multi-user.target
