[Unit]
Description=Skysense server
BindsTo=dev-skysenseUSB.device
After=dev-skysenseUSB.device

[Service]
Type=forking
User=root
Restart=always
PIDFile=/var/run/skysensed.pid
ExecStart=/usr/sbin/skysensed 0.0.0.0 5555 --conffile /etc/skysense.conf --daemon --pidfile /var/run/skysensed.pid

[Install]
WantedBy=multi-user.target
