[Unit]
Description=Skycharge UART configurator

[Service]
Type=simple
User=root
ExecStart=/usr/bin/skyuart-config

[Install]
WantedBy=multi-user.target
