[Unit]
Description=Skysense BMS service
BindsTo=dev-skybmsUSB.device
After=dev-skybmsUSB.device

[Service]
Type=forking
User=root
Restart=always
PIDFile=/var/run/skybmsd.pid
ExecStart=/usr/bin/skybmsd --xxx-charge-current-ma 32000 --xxx-battery-capacity-mah 32000 --daemon --pidfile /var/run/skybmsd.pid

[Install]
WantedBy=multi-user.target
